<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About Me</a></li>
		  <li><a href="{{ '/publication' | prepend: site.baseurl }}">Publication</a></li>
		 <li><a href="{{ '/motto' | prepend: site.baseurl }}">Motto</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

	  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=pHcDgAhUGrjoQDoKynFZZl7U-pc58Az2jFEMMZJnrYY&cl=ffffff&w=a"></script>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
	
  </body>
</html>
